{% extends 'feeds/feed_base.html' %}
{% load crispy_forms_tags %}

{# HEADER #}
{% block header %}
    Add Feed
{% endblock header %}


{# FEED CONTENT #}
{% block feed_content %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form | crispy }}

        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <input type="submit" class="btn btn-success ml-auto" value="Add"/>
            </div>
        </div>
    </form>
{% endblock feed_content %}



